.seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #edf0f4;
    height: 300px;

}
.Titul2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #29323d;;
    font-size: 30px;
}
.subscribirse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.entrada{
    height: 40px;
    width: 250px;
    border-radius: 2px;
    margin-right: 10px;
    border-color: #ced2d6;
}
.boton2{
    color: white;
    background-color: #29323d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: transparent;
    border-radius: 2px;
    height: 50px;
    width: 120px;
}